<h1>Welcome to Hodgimoto.com</h1>
<div class="jumbotron">
  <p>This developer is still hastily throwing this site together so you can experience its contents in the same hodge-podge, befuddling layout as the author's own inner-workings.</p>
  <p>Share and enjoy.</p>
</div>

<div class="main-buttons">
  <div class="row">
    <a class="btn btn-primary btn-lg col-md-10 col-md-offset-1" ng-href="#/demos">Demos</a>
  </div>
  <div class="row">
    <a class="btn btn-primary btn-lg col-md-10 col-md-offset-1" ng-href="#/works">Works</a>
  </div>
  <div class="row">
    <a class="btn btn-primary btn-lg col-md-10 col-md-offset-1" ng-href="#/blog">Blog</a>
  </div>
  <div class="row">
    <a class="btn btn-primary btn-lg col-md-10 col-md-offset-1" ng-href="#/about">About</a>
  </div>
</div>


